
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add Product</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="page-center">
  <div class="form-wrapper">
    <h2>Add New Product</h2>
    <form action="/admin/add-product" method="POST">
      
      <label for="title">Product Title</label>
      <input type="text" id="title" name="title" placeholder="Product Title" required>

      <label for="price">Price</label>
      <div class="price-wrapper">
        <span class="currency-symbol">₹</span>
        <input type="number" id="price" name="price" placeholder="Price" required>
      </div>

      <label for="discountPrice">Discount Price</label>
      <div class="price-wrapper">
        <span class="currency-symbol">₹</span>
        <input type="number" id="discountPrice" name="discountPrice" placeholder="Discount Price">
      </div>

      <label for="imageUrl">Image URL</label>
      <input type="text" id="imageUrl" name="imageUrl" placeholder="Image URL">

      <label for="category">Select Category</label>
      <select id="category" name="category" required>
        <% categories.forEach(cat => { %>
          <option value="<%= cat._id %>"><%= cat.name %></option>
        <% }) %>
      </select>

      <label for="quantity">Quantity</label>
      <input type="text" id="quantity" name="quantity" placeholder="e.g., 1L, 500ml, 5 pcs">

      <label for="sellerName">Seller Name</label>
      <input type="text" id="sellerName" name="sellerName" placeholder="Seller Name">

      <label for="sellerAddress">Seller Address</label>
      <input type="text" id="sellerAddress" name="sellerAddress" placeholder="Seller Address">

      <label for="manufactureDate">Manufacture Date</label>
      <input type="date" id="manufactureDate" name="manufactureDate">

      <label for="expiryDate">Expiry Date</label>
      <input type="date" id="expiryDate" name="expiryDate">

      <label for="disclaimer">Disclaimer</label>
      <input type="text" id="disclaimer" name="disclaimer" placeholder="Disclaimer">

      <label for="description">Product Description</label>
      <textarea id="description" name="description" placeholder="Product Description"></textarea>

      <label for="createdBy">Admin Email</label>
      <input type="text" id="createdBy" name="createdBy" placeholder="Admin Email" required>

      <button  type="submit">Add Product</button>
    </form>
  </div>
  </div>
</body>
</html>
